.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
  max-width: 100%;
}

.content {
  flex: 1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}
