.beams-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* Fade beams in from top so transition from black above feels gradual */
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 28%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 28%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

.beams-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: block;
}
